/*  ===========>  custom fonts  <========== */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@400;500;600&family=Poppins:wght@400;500;600;700&family=Roboto:wght@300&display=swap');

/*  ===========> Custom properties / Variables <========= */

 :root {
    --ff: 'Poppins', sans-serif;
    --primary: #4e37db;
    --primary-transparent: rgba(76, 53, 209, 0.9);
    --primary-light: #f3f4ff;
    --secondary: #dcd6ff;
    --secondary-light: #f9f9ff;
    --text: #627193;
    --text-lighter: #818da9;
    --dark: #00005c;
    --light: #ebebeb;
    --white: #ffffff;
    --yellow: #fdb400;
    --footer-dark: #291d6e;
    --animate: all 0.3s ease-in-out;
    --shadow-primary: 2px 2px 12px 2px rgba(78, 55, 219, 0.17);
    --shadow: 2px 0px 12px 2px rgba(189, 189, 189, 0.2);
}


/*  ===========> Reset <========= */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/*  ===========> Components <========= */

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
    color: var(--text);
    padding: 0.6rem 1rem;
    border-radius: 8px;
    transition: var(--animate);
}

.btn:hover {
    cursor: pointer;
    box-shadow: var(--primary);
    transform: translateY(3px);
}

.btn--link {
    color: var(--text);
}

.btn--link:hover {
    background: var(--primary);
    color: var(--white);
}

.btn--primary {
    background: var(--primary);
    color: var(--white);
}

.btn--primary:hover {
    background: var(--secondary);
    color: var(--dark);
}


/*  ===========> Typography <========= */

.section-heading {
    max-width: 50%;
    margin-bottom: 6rem;
    margin: 0 auto;
}

.section__title {
    font-size: 2.875rem;
    font-size: clamp(2.3rem, 5vw, 2.875rem);
    color: var(--dark);
    margin-bottom: 20px;
    line-height: 1.1;
    text-transform: capitalize;
    text-align: center;
}

.section__subtitle {
    font-size: 1.125rem;
    font-size: clamp(1rem, 3vw, 1.125rem);
    max-width: 80%;
    color: var(--text);
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .section-heading {
        max-width: 80%;
    }
    .section__title {
        line-height: 1.25em;
    }
}


/*  ===========> Animations <========= */

@keyframes bounce {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -5px);
    }
    100% {
        transform: translate(0px, -5px);
    }
}


/*  ===========> Header <========= */

.header {
    height: 80px;
    width: 100%;
    background: var(--white);
    position: fixed;
    z-index: 10;
}

.header .container {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    height: 2.9rem;
    min-height: 2.5rem;
}

.logo img {
    height: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.nav-link:link,
.nav-link:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--text);
    font-weight: 500;
    font-size: 1.05rem;
    transition: var(--animate);
}

.nav-link:hover,
.nav-link:active,
.nav-link.active {
    color: var(--dark);
}

.nav-btns {
    display: flex;
    align-items: center;
}

.nav-btns .btn,
.mobile-icon {
    margin-right: 0.8rem;
}

.mobile-icon {
    color: var(--primary);
    font-size: 1.5rem;
    padding: 0.4rem;
    border-radius: 8px;
    display: none;
    transition: var(--animate);
}

.mobile-icon:hover {
    cursor: pointer;
    box-shadow: var(--shadow-primary);
    transform: translateY(3px);
}

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background: var(--primary);
    margin: 5px;
}

@media screen and (max-width: 59.375em) {
    .hamburger {
        display: block;
    }
    /* animate hamburger */
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
        width: 0;
        transition: all 0.5s ease;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
        width: 0;
    }
    .main-nav {
        background: rgba 255, 255, 255, 0.7;
        --webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100vph;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 30px;
        transition: var(--animate);
        transform: translateX(100%);
        /* hide visually */
        opacity: 0;
        /* hide from screen readers */
        visibility: hidden;
        /* unaccessible to mouse and keyboard events */
        pointer-events: none;
    }
    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav-list {
        flex-direction: column;
        width: 100%;
    }
    .nav-list li {
        display: inline-block;
        width: 100%;
        text-align: center;
        transition: var(--animate);
        padding: 0.3rem;
    }
    .nav-list li:hover {
        background: var(--primary-light);
        transform: translate(5px);
    }
    .nav-link:link,
    .nav-link:visited {
        font-size: 1.5rem;
    }
    .logo {
        margin-right: auto;
    }
}

@media screen and (max-width: 37.5em) {
    .mobile-icon {
        display: block;
    }
    .nav-btns .btn {
        display: none;
    }
}


@media screen and (max-width: 420px) {
    .header .container{
        
        max-width: 400px;
        margin: 0;
    }

    .feature__title{
        border: solid red 2px;
        margin: 0 auto;
    }

}



/*  ===========> Hero <========= */

.hero {
    padding-top: 80px;
}

.hero .container {
    max-width: 1200px;
    display: flex;
    padding: 8rem 0rem;
    column-gap: 5rem;
}


/* left */

.hero__left {
    max-width: 550px;
    position: relative;
    padding-left: 1rem;
}

.hero__circle {
    position: absolute;
    top: -50px;
    left: -15px;
}

.hero__title {
    color: var(--dark);
    font-size: 3.5rem;
    font-size: clamp(2.5rem, 5vw, 3.3rem);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
}

.hero__description {
    color: var(--text);
    margin-bottom: 50px;
    font-size: 1rem;
    max-width: 450px;
}

.hero .btn--primary {
    display: inline-flex;
    align-items: center;
}

.btn-icon {
    margin-left: 10px;
}


/* right */

.hero__right {
    position: absolute;
    right: 0;
    top: 120px;
}

.hero__img {
    display: block;
    position: relative;
    right: 0;
    top: -100px;
    width: 700px;
    height: auto;
    object-fit: cover;
}

.hero__stats {
    width: 200px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    left: -120px;
    bottom: 80px;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.how {
    background: var(--primary);
    color: var(--white);
    display: flex;
    align-items: center;
    font-size: 14px;
    border-radius: 10px 0 0 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    bottom: 100px;
    cursor: pointer;
    animation: bounce 0.75s infinite;
}

.how-icon {
    font-size: 27px;
    margin-left: 10px;
}

@media screen and (max-width:81.25em) {
    .hero .container {
        column-gap: 7rem;
    }
    .hero__right {
        position: relative;
        top: 0;
    }
    .hero__img {
        width: 100%;
    }
}

@media screen and (max-width:68.75em) {
    .hero .container {
        flex-direction: column;
    }
    .right-content {
        margin-top: 80px;
    }
    .hero__img {
        top: -100px;
    }
    .hero__left {
        max-width: 650px;
    }
    .how {
        bottom: 100px;
    }
    .hero__stats {
        bottom: 100px;
        left: 0;
        border-radius: 0 20px 0 0;
    }
}

@media screen and (max-width: 37.5em) {
    .hero .container {
        padding: 4rem 0;
    }
    .hero__stats {
        width: calc(200px * 0.75);
        height: calc(150px * 0.75)
    }
    .how {
        padding: 0.6rem;
    }
}


/*  ===========> Agents <========= */

.agents {
    padding-top: 80px;
    width: 100%;
    background-color: var(--primary-light)
}

.agents .container {
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.agents-cards {
    padding: 0 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 6rem;
}

.agents-card {
    background: var(--white);
    padding: 3rem 2.5rem;
    border-radius: 20px;
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: var(--animate);
}

.agents-card:hover {
    background: var(--primary);
    transform: translateY(-15px);
    box-shadow: var(--shadow);
}

.agents-card:nth-child(even) {
    background: var(--primary);
}

.agents-card:nth-child(even):hover {
    background: var(--white);
}

.agents-card__img {
    background: url(../img/agents/agents-circle.png) no-repeat;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}

.agents-card__icon {
    width: 35px;
    height: 35px;
    color: var(--primary);
}

.agents-card__title {
    color: var(--dark);
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.65rem;
}

.agents-card:hover .agents-card__title {
    color: var(--white);
}

.agents-card:nth-child(even) .agents-card__title {
    color: var(--white);
}

.agents-card:nth-child(even):hover .agents-card__title {
    color: var(--dark);
}

.agents-card__desc {
    color: var(--text);
    font-size: 1.125rem;
    line-height: 1.4;
}

.agents-card:hover .agents-card__description {
    color: var(--white);
    opacity: .8;
}

.agents-card:nth-child(even) .agents-card__description {
    color: var(--white);
    opacity: 0.8;
}

.agents-card:nth-child(even):hover .agents-card__description {
    color: var(--text);
    /* opacity: 0.95; */
}

@media screen and (max-width:50em) {
    .agents .container {
        padding: 4rem 0;
    }
    .agents-cards {
        grid-template-columns: 1fr;
    }
    .agents-card {
        max-width: 400px;
    }
}


/*  ===========> Features <========= */

.features {
    padding-top: 80px;
    width: 100%;
}

.features .container {
    padding: 8rem 0;
}

.feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: start;
    padding: 0 1rem;
    column-gap: 5rem;
    margin-bottom: 9rem;
}

.feature:last-child {
    margin-bottom: 0;
}


/* left */

.feature__title {
    font-size: 2.875rem;
    font-size: clamp(2.2rem, 5vw, 2.875rem);
    color: var(--dark);
    margin-bottom: 30px;
    line-height: 1.2;
}

.feature__description {
    font-size: 1.125rem;
    color: var(--text);
    margin-bottom: 40px;
    line-height: 1.5;
}

.feature-list {
    margin-bottom: 35px;
}

.feature__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
}

.feature__item-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-light);
    color: var(--primary);
    font-size: 8px;
    padding: 5px;
    margin-right: 15px;
}


/* right */

.feature-image {
    position: relative;
    width: clamp(400px, 45vw, 550px);
    height: clamp(350px, 55vw, 530px);
    border-radius: 20px;
}

.feature__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.feature__stats {
    position: absolute;
    width: 240px;
    height: 190px;
    border-radius: 20px;
}

.feature-stats--1,
.feature-stats--2 {
    top: -70px;
    left: -50px;
}

.feature-stats--3 {
    top: -70px;
    right: -50px;
    box-shadow: var(--shadow);
}


/* alternating */

.feature--even .feature-left {
    order: 2;
}

.feature--even .feature-right {
    order: 1;
}

@media screen and (max-width: 1200px) {
    .features .container {
        padding: 3rem 2rem;
    }
    .feature {
        /* grid-template-columns: 1fr; */
        justify-items: center;
        row-gap: 1.5rem;
    }
    .feature-left {
        max-width: 85%;
        margin-bottom: 2.75rem;
    }
    .feature-stats--3 {
        right: 0;
        top: 0;
    }
    .feature__stats {
        /* border-radius: 20px 0 0 20px; */
        width: calc(240px * .85);
        height: calc(190px * 0.85);
    }
    .feature-stats--1 {
        margin-left: -2px;
        margin-top: -2px;
        left: 0;
        top: 0;
        border-radius: 0 0 20px 0;
    }
    .feature-stats--2 {
        left: 0;
        top: 0;
        border-radius: 0 0 20px 0;
    }
}

@media screen and (max-width: 847px) {
    .features .container {
        padding: 4rem 2rem;
    }
    .feature {
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 4rem;
    }
    .feature-left {
        max-width: 75%;
        margin-bottom: 3.75rem;
    }
    /* alternating */
    .feature--even .feature-left {
        order: 1;
    }
    .feature--even .feature-right {
        order: 2;
    }
}

@media screen and (max-width: 650px) {
    .feature-stats--3 {
        right: 0;
        top: 0;
    }
    .feature__stats {
        border-radius: 20px 0 0 20px;
        width: calc(240px * .75);
        height: calc(190px * 0.75);
    }
    .feature-stats--1 {
        margin-left: -2px;
        margin-top: -2px;
        left: 0;
        top: 0;
        border-radius: 0 0 20px 0;
    }
    .feature-stats--2 {
        left: 0;
        top: 0;
        border-radius: 0 0 20px 0;
    }
}


/*  ===========> Property Section <========= */

.property {
    padding-top: 80px;
    width: 100%;
    background-color: var(--primary-light);
}

.property .container {
    padding: 4rem 1rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.property-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem 2rem;
    margin: 6rem auto 5rem;
}

.property__card {
    height: 500px;
    position: relative;
    box-shadow: var(--shadow-primary);
    overflow: hidden;
    border-radius: 10px;
}

.property__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: var(--animate);
}

.property__card-content {
    height: 120px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: var(--primary-transparent);
    color: var(--white);
    transition: var(--animate);
    padding: 1.5rem;
    text-align: left;
}

.property__card-title {
    font-size: 1.563rem;
    margin-bottom: 0.7rem;
}

.property__card-subtitle {
    font-size: 0.9rem;
    color: rgba(255, 2555, 255, 0.8);
    margin-bottom: 1.7rem;
}

.specs {
    margin-left: 1rem;
    font-style: 0.8rem;
    /* visibility: hidden; */
    opacity: 0;
}

.spec {
    display: flex;
    align-items: center;
    padding: 5px;
}

.spec span {
    color: rgba(255, 2555, 255, 0.8);
    font-weight: 500;
    margin-bottom: -15px;
}

.spec-icon {
    margin-right: 15px;
    margin-bottom: -15px;
}

.property__card:hover {
    cursor: pointer
}

.property__card:hover .property__card-content {
    height: 200px;
    background: var(--primary);
}

.property__card:hover .specs {
    visibility: visible;
    opacity: 1;
}

.property .btn--primary {
    display: none;
}

.property-nav {
    margin: 0 auto;
    max-width: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.property__btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--dark);
    transition: var(--animate);
}

.property__btn:hover {
    cursor: pointer;
    transform: scale(1.05) translateY(3px);
}

@media screen and (max-width: 50em) {
    .property .container {
        padding: 4rem 0;
    }
    .property-cards {
        grid-template-columns: 1fr;
    }
    .property__card {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
    .property .btn--primary {
        display: flex;
        align-items: center;
    }
    .property-nav {
        display: none;
    }
}

